---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Button from '../components/Button.jsx';
import Footer from '../components/Footer.astro';
import BlogGrid from "../components/BlogGrid.jsx"
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
import { faHammer, faTrowelBricks, faPenRuler, faPencil } from '@fortawesome/free-solid-svg-icons'
/* const posts  =  await fetch(`${import.meta.env.PUBLIC_POKEAPI}/api/posts?populate=*&sort=publishedAt:desc`).then(res => res.json()).then(res => res.data) */
---

<Layout title="ST Rénov | Menuiserie, Isolation, Aménagement intérieur à Caen" desc="Découvrez ST RENOV à Feuguerolles-Bully, près de Caen (14), votre partenaire de confiance pour la menuiserie intérieure et extérieure. Avec une solide expertise acquise au fil des années, Thibault SAMSON, le gérant de l'entreprise, vous guide avec des conseils avisés et des solutions techniques pour réaliser vos projets. Contactez-nous pour transformer vos idées en réalité.">
	<Header/>
	
	<main>
		<section class="hero container-lg">
			<div class="row">
				<div class="col-md-6">
					<div class="hero-img">
						<img src="/assets/img/portaille_light2.jpg" alt="hero image portaille strenov">
						<img class="mini-logo" src="/assets/img/logo.jpg" alt="logo strenov watermark">
					</div>
				</div>
				<div class="col-md-6 g-5 g-md-2 d-flex">
					<div class="hero-text px-lg-5">
						<h1>Vos projets sont les miens</h1>
						<h2>Choisissez ST RÉNOV pour des solutions personnalisées à vos envies.</h2>
						<Button href={Astro.url.origin + '/realisations'} title="Découvrir"/>
					</div>
				</div>
			</div>
		</section>

		<section class="hero hero-rea mb-0">
			<div class="container">
				<p>Situé à Feuguerolles-Bully, à proximité de Caen (14), ST RENOV vous propose ses services pour tous vos projets en lien avec la menuiserie intérieure et extérieure.
					Fort de nombreuses années d’expériences en entreprise. Thibault SAMSON gérant de l’entreprise, vous apportera conseils et solution technique.</p>
			</div>

		</section>

		<section class="hero container-lg mt-4">
			<div class="row">
				<div class="col-md-6 g-5 g-md-2 d-flex">
					<div class="hero-text hero-desc">
						<ul>
							<li>
                                <FontAwesomeIcon icon={faHammer} className="fs-6" />
                                <h3>Menuiserie</h3>
                            </li>
							<li>
                                <FontAwesomeIcon icon={faTrowelBricks} className="fs-6"/>
                                <h3>Isolation</h2>
                            </li>
							<li>
                                <FontAwesomeIcon icon={faPenRuler} className="fs-6"/>
                                <h3>Parquet</h2>
                            </li>
							<li>
                                <FontAwesomeIcon icon={faPencil} className="fs-6"/>
                                <h3>Aménagement intérieur</h2>
                            </li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="hero-img">
						<img src="/assets/img/logo.jpg" alt="logo_big strenov">
					</div>
				</div>
				
			</div>
		</section>

		<section class="blogList container-lg">
			<BlogGrid cat={} limit={3} title={'Les dernères réalisations'} client:load/>
			
		</section>




	</main>
	<Footer/>
</Layout>




<style lang="scss">
@import '../layouts/variable';
@import '../layouts/mixin';

.hero {
    margin-top: 2rem;
    margin-bottom: 2rem;
    @include media-min (md) {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .hero-img {
        position: relative;
        img {
            width: 100%;
            border-radius: 2rem;
            object-fit: cover;
        }
        .mini-logo {
            position: absolute;
            width: 70px;
            top: 5px;
            left: 5px;
            border-radius: 1.8rem 0 10px 0;
            opacity: 0.8;
        }
    }
    .hero-text {
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        h2 {
            font-size: 1.3rem;
            font-weight: 400;
            font-family: $font-family-sans;
            padding-bottom: 0.5rem;
        }
        
        h1 {
            font-size: 3rem;
            font-family: $font-family-serif;
            color: $brown;
            font-weight: 600;

            @include media-min (md) {
                font-size: 4rem;
            }
        }
    }
    .hero-desc {
        align-items: center;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                margin: 1rem 0;
                font-size: 1.8rem;
                font-weight: bold;
                color: $brown;
                display: flex;
                align-items: center;
                svg {
                    height: 20px;
                    margin-right: 0.5rem;
                }

                h3 {
                    margin: 0;
                }
            }
        }
    }
    &.hero-rea {
        margin-top: 5rem;
        background-color: $beige;
        padding: 3rem 0;
        font-size: 1.2rem;
        p {
            margin: 0;
            max-width: 850px;
            text-align: center;
            line-height: 1.8;
            margin-inline: auto;
            padding: 0;
            font-weight: bold;
        }
    }
}

.post {
    h2 {
        font-family: $font-family-serif;
        color: $brown;
        font-size: 2rem;
        font-weight: bold;
    }
}
</style>